services:
  sql_server:
    image: gvenzl/oracle-free:23
    container_name: sql_server.g
    hostname: sql_server.g
    restart: no
    networks:
      - internal
    volumes:
      - ./data:/opt/oracle/oradata
      - ./example_tables/:/container-entrypoint-initdb.d
    ports:
      - 1521:1521
    environment:
      APP_USER: "root"
      APP_USER_PASSWORD: "root"
      ORACLE_PASSWORD: root

  dbeaver:
    image: dbeaver/cloudbeaver
    container_name: dbeaver.g
    hostname: dbeaver.g
    restart: no
    networks:
      - internal
    ports:
      - 8978:8978
    depends_on:
      - sql_server

  php:
    build: php
    container_name: php.g
    hostname: php.g
    networks:
      - internal
    volumes:
      - ./php_code/:/files:ro
    ports:
      - 9000:9000
    restart: no
    depends_on:
      - dbeaver

  nginx:
    build: nginx
    container_name: nginx.g
    hostname: nginx.g
    volumes:
      - ./php_code/:/files:ro
    networks:
      - internal
    ports:
      - 8080:80
    restart: no
    depends_on:
      - php

networks:
  internal:
    driver: bridge
